out/
build/
bin/
.vs/
*.sln
*.vcxproj
*.user
CMakeSettings.json

__pycache__/
*.pyc

*.exe
*.dll
*.pyd
*.pdb
*.ilk

scripts/*.pyd
scripts/*.so
scripts/alphazero/runs/
scripts/alphazero/models/

!scripts/*.py

.godot/
*.import
export_presets.cfg